<configuration scan="true" scanPeriod="1 minute">
    <property resource="${dataDir}/config/proximity.properties"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${dataDir}/logs/proximity.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${dataDir}/logs/proximity.log.%d{YYYY-MM}.%i.log.gz</fileNamePattern>
            <maxFileSize>4MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>256MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] [%X{}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${logger.level:-DEBUG}">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
