.test {
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-style: solid;
    /*-fx-border-radius: 8px;*/
}

.p-10 {
    -fx-label-padding: 10px;
}

.p-20 {
    -fx-label-padding: 20px;
}

.pl-20 {
    -fx-label-padding: 0 0 0 20px;
}

.sp-5 {
    -fx-spacing: 5;
}

.sp-50 {
    -fx-spacing: 50;
}


.bg-f5f5f5 {
    -fx-background-color: #f5f5f5;
}

.p-10-0-10-0 {
    -fx-padding: 10 0 10 0;
}